<%- include("./header.ejs") %>
    <script src="https://cdn.ckeditor.com/4.17.2/basic/ckeditor.js"></script>

    <ul class="list-inline menu-left mb-0">
        <li class="list-inline-item">
            <button type="button" class="button-menu-mobile open-left waves-effect">
                <i class="ion-navicon"></i>
            </button>
        </li>
        <li class="hide-phone list-inline-item app-search">
            <h3 class="page-title">Edit Category</h3>
        </li>
    </ul>

    <div class="clearfix"></div>

    </nav>

    </div>
    <div class="page-content-wrapper ">

        <div class="container-fluid">

            <% if (success) { %>
                <div class="alert alert-success" role="alert" id='error-msg'>
                    <script>setTimeout(function () {
                            document.getElementById('error-msg').style.display = 'none';
                        }, 5000);</script>
                    <%= success %>
                </div>

                <% } %>
                    <div class="container-fluid">
                        <% if (error) { %>
                            <div class="alert alert-danger" role="alert" id='error-msg'>
                                <script>setTimeout(function () {
                                        document.getElementById('error-msg').style.display = 'none';
                                    }, 5000);</script>
                                <%= error %>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-sm-2 col-form-label">Event File</label>
                            <div class="col-sm-10">
                                <input name="image" accept="image/*" class="form-control" type="file" value="<%= categoryToUpdate.image %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-sm-2 col-form-label">Parent</label>
                            <div class="col-sm-10">
                                <select name="parent" class="form-control" id="">
                                    <option value=""></option>
                                    <% categories.forEach(function(category) {
                                        if (categoryToUpdate.name !== category.name) {%>
                                        <option value="<%= category.id %>"  <% if(categoryToUpdate.parentData) { if(category.name === categoryToUpdate.parentData.name) { %> selected="selected" <% } }%>>
                                            <%= category.name  %></option>
                                    <% } }) %>
                                </select>
                            </div>
                        </div>
                        <div class="button-items">
                            <button type="submit" class="btn btn-success waves-effect waves-light btn-lg">Save</button>

                            <% } %>



                                <div class="row">
                                    <div class="col-md-7">
                                        <form action="/admin/category/edit/" method="post"
                                            enctype="multipart/form-data">
                                            <input type="hidden" name="id" value="<%= categoryToUpdate.id %>"
                                                required />
                                            <input type="hidden" name="level" value="<%= categoryToUpdate.level %>"
                                                required />
                                            <div class="form-group row">
                                                <label for="example-search-input"
                                                    class="col-sm-2 col-form-label">Name</label>
                                                <div class="col-sm-10">
                                                    <input name="name" required class="form-control"
                                                        value="<%= categoryToUpdate.name %>" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-sm-2 col-form-label">Category
                                                    File</label>
                                                <div class="col-sm-10">
                                                    <input name="image" accept="image/*" class="form-control"
                                                        type="file" value="<%= categoryToUpdate.image %>">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input"
                                                    class="col-sm-2 col-form-label">Parent</label>
                                                <div class="col-sm-10">
                                                    <select name="parent" class="form-control" id="">
                                                        <option value=""></option>
                                                        <% categories.forEach(function(category) {
                                                        if (categoryToUpdate.name !== category.name) {%>
                                                        %>
                                                            <option value="<%= category.id %>" <%
                                                                if(categoryToUpdate.parentData) {
                                                                if(category.name===categoryToUpdate.parentData.name) {
                                                                %> selected="selected" <% } }%>>
                                                                    <%= category.name %>
                                                            </option>
                                                            <% } }) %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="button-items">
                                                <button type="submit"
                                                    class="btn btn-success waves-effect waves-light btn-lg">Save</button>

                                            </div>

                                    </div>

                                </div>

                                </form>

                    </div>


        </div>


    </div>


    </div>