<!doctype html>
<html lang=en>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset=utf-8 />

  <meta name=description
    content="For high quality building supplies whether you are in the trade or you are working on your own home project order online here!" />
  <meta name=robots content="INDEX,FOLLOW" />
  <meta name=viewport content="width=device-width, initial-scale=1" />
  <meta name=format-detection content="telephone=no" />
  <title>Milgo Traders</title>
  <link rel="stylesheet" href="/app.css" />
  <link rel=stylesheet type="text/css" media=all
    href="/static/version1643217956/_cache/merged/4d0c65b6b724a36a7c93bfbfc562082d.min.css">

  <link rel=stylesheet type="text/css" media="screen and (min-width: 768px)"
    href="/static/version1643217956/frontend/Rixxo/bm/en_GB/css/styles-l.min.css">
  <link rel=stylesheet type="text/css" media=print
    href="/static/version1643217956/frontend/Rixxo/bm/en_GB/css/print.min.css">
  <link rel=stylesheet type="text/css" media="screen and (min-width: 1px)"
    href="/static/version1643217956/frontend/Rixxo/bm/en_GB/css/style.min.css">
  <link rel=stylesheet type="text/css" media="print and (min-width: 1px)"
    href="/static/version1643217956/frontend/Rixxo/bm/en_GB/css/print-lumarix.min.css">

  <link rel=preload as=font crossorigin=anonymous
    href="/static/version1643217956/frontend/Rixxo/bm/en_GB/fonts/opensans/light/opensans-300.woff2">
  <link rel=preload as=font crossorigin=anonymous
    href="/static/version1643217956/frontend/Rixxo/bm/en_GB/fonts/opensans/regular/opensans-400.woff2">
  <link rel=preload as=font crossorigin=anonymous
    href="/static/version1643217956/frontend/Rixxo/bm/en_GB/fonts/opensans/semibold/opensans-600.woff2">
  <link rel=preload as=font crossorigin=anonymous
    href="/static/version1643217956/frontend/Rixxo/bm/en_GB/fonts/opensans/bold/opensans-700.woff2">
  <link rel=preload as=font crossorigin=anonymous
    href="/static/version1643217956/frontend/Rixxo/bm/en_GB/fonts/Luma-Icons.woff2">
  <link rel=canonical href="index.html">
  <link rel=icon type="image/x-icon" href="/media/favicon/stores/1/milgo2.png">
  <link rel="shortcut icon" type="image/x-icon" href="/media/favicon/stores/1/milgo2.png">


  <link rel="canonical" href="https://www.buildingmaterials.co.uk/nuts-and-bolts/news-and-events" />
  <meta charset="utf-8" />
  <!-- CSS -->


  <!-- Symplify -->
  <script type="text/javascript" async src="http://cdn-sitegainer.com/sitegainer_5619301.js"></script>
  <style>
    div.banner-hero-desktop {
      display: block
    }

    div.banner-hero-mobile {
      display: none
    }

    @media screen and (max-width:768px) {
      div.banner-hero-desktop {
        display: none
      }

      div.banner-hero-mobile {
        display: block
      }

      div.banner-item img {
        height: auto
      }

      .page-wrapper {
        overflow-x: hidden
      }
    }

    @font-face {
      font-family: 'FontAwesome';
      src: url('/pub/static/frontend/Rixxo/bm/en_US/Mageplaza_Core/css/fonts/fontawesome-webfont5b62.eot?v=4.6.3');
      src: url('/pub/static/frontend/Rixxo/bm/en_US/Mageplaza_Core/css/fonts/fontawesome-webfontd41d.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('/pub/static/frontend/Rixxo/bm/en_US/Mageplaza_Core/css/fonts/fontawesome-webfont5b62.woff2?v=4.6.3') format('woff2'), url('/pub/static/frontend/Rixxo/bm/en_US/Mageplaza_Core/css/fonts/fontawesome-webfont5b62.woff?v=4.6.3') format('woff'), url('/pub/static/frontend/Rixxo/bm/en_US/Mageplaza_Core/css/fonts/fontawesome-webfont5b62.ttf?v=4.6.3') format('truetype'), url('/pub/static/frontend/Rixxo/bm/en_US/Mageplaza_Core/css/fonts/fontawesome-webfont5b62.svg?v=4.6.3#fontawesomeregular') format('svg');
      font-weight: 400;
      font-style: normal
    }
  </style>

</head>

<body data-container=body
  data-mage-init='{"loaderAjax":[],"loader":{"icon":"/static/version1643217956/frontend/Rixxo/bm/en_GB/images/loader-2.gif"}}'
  class="customer-logged-out cms-home cms-index-index page-layout-1column">


  <div class=page-wrapper>
    <header class=page-header>
      <div class="panel wrapper">
        <div class="panel header">
          <ul class="trustcall">
            <li class="header-top__trust-pilot">

            </li>
            <li class="header-top__call"> <a href="tel:01628674910"> <img
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width=22
                  data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-phone.svg" />
                <span>Call our trade experts&nbsp;|&nbsp;</span>
                <span class=InfinityNumber>
                  01628674910
                </span>
              </a>
            </li>
          </ul>


          <a class="action skip contentarea" href="#contentarea"> <span> Skip to Content </span></a>
        </div>
      </div>
      <div class="header content">
        <span data-action=toggle-nav class="action nav-toggle">
          <span>Toggle Nav</span>
        </span> <a class=logo href="/" title="Milgo&#x20;Traders" aria-label="store logo">
          <picture>

            <img src="/images/logo.jpeg" title="Milgo&#x20;Traders" alt="Milgo Logo" data-src="/images/logo.jpeg" />
          </picture>
        </a>
        <div class=dropdownix>


          <div class=dropdown-menu>
            <div class=dropdownwelcome>
              <div class="greet welcome" data-bind="scope: 'customer'">
                </span>
              </div>
            </div>

          </div>


        </div>

        <div class="block block-search">
          <div class="block block-title"><strong>Search</strong></div>
          <div class="block block-content">
            <form class="form minisearch" id=search_mini_form action="#">
              <div class="field search"> <label class=label for=search data-role=minisearch-label>
                  <span>Search</span></label>
                <div class=control>
                  <input id=search type=text placeholder="Search&#x20;for&#x20;products,&#x20;categories,&#x20;..."
                    class=input-text maxlength=128 role=combobox aria-haspopup=false
                    style="height: 50px !important; border-color: #1b3990!important; border-radius: 5px 0 0 5px !important;" />
                  <div id=search_autocomplete class=search-autocomplete>
                  </div>
                  <div class=nested>
                    <a class="action advanced" href="catalogsearch/advanced/index.html" data-action=advanced-search>
                      Advanced Search </a>
                  </div>
                </div>
              </div>
              <div class=actions>
                <button type=submit title=Search class="action search" aria-label=Search> <span>Search</span></button>
              </div>
            </form>
          </div>
        </div>
        <div class=header__mobile-phone> <a href="tel:01628674910"> <img
              src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width=22
              data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-phone.svg" /> <span
              class=InfinityNumber>01628674910</span>
          </a>
        </div>
      </div>
    </header>
    <div class="section section__navigation">
      <div class="section section__navigation_inner">
        <div class="menu menu--main">
          <ul>
            <li class="level--1 children--3" data-home=true><a href="/" target=_self>
                <svg id=svg-home viewBox="0 0 24 24"
                  style=" width: 15px; fill: white; transform: scale(1.6) translateY(2px); ">
                  <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z">
                  </path>
                  <path d="M0 0h24v24H0z" fill=none></path>
                </svg></a></li>
            <% categories.forEach(function(subcategory){ %>
             <%if( subcategory.level==0 ) {%>
              <li class="level--1 haschildren children--3">
                <a href="">
                  <%= subcategory.name %>
                </a>
                <ul>
                  <%  subcategory.children.forEach(function(category){
                  categories.forEach(function (categoryToMatch) {
                  if(categoryToMatch.id == category.id) { %>
                    <li class="level--2 haschildren children--3">
                      <a href="/category/products/<%=category.id%>" target=_self>
                        <%=category.name%>
                      </a>
                      <ul>
                          <% if(categoryToMatch.children) {categoryToMatch.children.forEach(function(child){%>
                          <li class="level--3 0">
                            <a href="/category/products/<%=child.id%>" target=_self>
                              <%=child.name%>
                            </a>
                          </li>
                        <% }) }%>
                      </ul>
                    </li>
                    <%} })  }) %>
                </ul>
              </li>
              <%}})%>
          </ul>
        </div>


      </div>
    </div>
    <div data-aw-csblock-block-name=csblock_home_menu_top></div>
    <div data-aw-csblock-block-name=csblock_home_menu_bottom></div>
    <div class="top-container">
      <div class="widget block block-static-block"> </div>
    </div>
    <div class="widget block block-static-block">
      <div class=top-banner>
        <div class=top-banner__item>
          <div class=top-banner__item__img><a href="nuts-and-bolts/customer-services/what-makes-us-different.html">
              <picture>
                <source type="image/webp"
                  srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                  data-srcset="/media/fishpig/webp/static/frontend/Rixxo/bm/en_GB/images/icons/Barrow.webp" /><img
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                  alt="Save Time and Money" width=105 height=105
                  data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icons/Barrow.png" />
              </picture>
            </a></div>

          <div class=top-banner__item__text>
            <div class=top-banner__item__text--large>One Stop Shop</div>
            <div class=top-banner__item__text--small>Everything a call or click away</div>
          </div>
        </div>
        <div class=top-banner__item>
          <div class=top-banner__item__img><a href="#">
              <picture>
                <source type="image/webp"
                  srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                  data-srcset="/media/fishpig/webp/static/frontend/Rixxo/bm/en_GB/images/icons/Truck.webp" /><img
                  style="vertical-align: middle;"
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                  alt="Speedy Delivery" width=100 height=100
                  data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icons/Truck.png" />
              </picture>
            </a></div>
          <div class=top-banner__item__text--large></div>
          <div class=top-banner__item__text--large></div>
          <div class=top-banner__item__text>
            <div class=top-banner__item__text--large>Speedy Delivery</div>
            <div class=top-banner__item__text--small>Nationwide delivery on all orders</div>
          </div>
        </div>
        <div class=top-banner__item>
          <div class=top-banner__item__img><a href="nuts-and-bolts/customer-services/what-makes-us-different.html">
              <picture>
                <source type="image/webp"
                  srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                  data-srcset="/media/fishpig/webp/static/frontend/Rixxo/bm/en_GB/images/icons/Watch.webp" /><img
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                  alt="One Stop Shop" width=100 height=100
                  data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icons/Watch.png" />
              </picture>
            </a></div>
          <div class=top-banner__item__text>
            <div class=top-banner__item__text--large>Save Time and Money</div>
            <div class=top-banner__item__text--small>Quick, easy and hassle free</div>
          </div>
        </div>
        <div class=top-banner__item>
          <div class=top-banner__item__img><a href="nuts-and-bolts/customer-services/what-makes-us-different.html">
              <picture>
                <source type="image/webp"
                  srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                  data-srcset="/media/fishpig/webp/static/frontend/Rixxo/bm/en_GB/images/icons/Builder.webp" /><img
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                  alt="Trade Service" width=100 height=100
                  data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icons/Builder.png" />
              </picture>
            </a></div>



          <div class=top-banner__item__text>
            <div class=top-banner__item__text--large>Trade Service</div>
            <div class=top-banner__item__text--small>Dedicated account managers</div>
          </div>
        </div>
      </div>
    </div>