<%- include("./header.ejs") %>
    <div class=custom-category-banner>
        <div class=category-image>
            <picture>
                <source type="image/webp"
                    srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                    data-srcset="../../media/fishpig/webp/catalog/category/Acoustic.webp" />
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=Acoustic
                    title=Acoustic class=image data-src="../../media/catalog/category/Acoustic.jpg" />
            </picture>
        </div>
        <div class=custom-category-banner__content>
            <div class=page-title-wrapper>
                <h1 class=page-title id=page-title-heading aria-labelledby="page-title-heading&#x20;toolbar-amount">
                    <span class=base data-ui-id=page-title-wrapper>
                        <%= categoryName %>
                    </span>
                </h1>
            </div>
        </div>
    </div>


    <main id=maincontent class=page-main>
        <a id=contentarea tabindex=-1></a>
        <h2>Products</h2>
        <div class="widget block block-static-block"></div>
        <div class=columns>
            <div class="column main">
                <div data-role=aw-requisitionlist-create-list-wrapper data-bind="scope: 'awRequisitionListParent'"
                    class=aw-rl__create-list-wrapper>
                    <!-- ko template: getTemplate() -->
                    <!-- /ko -->
                </div>
                <input name=form_key type=hidden value=9aTciXnHPxp7CfQX>
                <div id=authenticationPopup data-bind="scope:'authenticationPopup', style: {display: 'none'}">
                    <!-- ko template: getTemplate() -->
                    <!-- /ko -->
                </div>
                <div data-aw-csblock-block-name=csblock_category_content_top></div>
                <div>
                    <style>
                        .price.no-before:before {
                            display: none
                        }
                    </style>
                    <div class="category-large-wrapper products wrapper grid products-grid">
                        <ol class="products list items product-items">

                            <% products.forEach(function(product) { %>

                                <li class="item product product-item category-lg-container ">
                                    <div class=product-item-info data-container=product-grid>
                                        <div class=product-lg-top>
                                            <div class=product-lg-top__left>
                                                <div class=product-lg-top__left--image>
                                                    <a href="/products/<%=product.id%>"
                                                        class="product photo product-item-photo" tabindex=-1>
                                                        <span
                                                            class="product-image-container product-image-container-35096">
                                                            <span class=product-image-wrapper>
                                                                <picture>
                                                                    <img class=product-image-photo
                                                                        src="<%= product.image %>" loading=lazy
                                                                        width=340 height=300 />
                                                                </picture>
                                                            </span>
                                                        </span>
                                                        <style>
                                                            .product-image-container-35096 {
                                                                width: 340px
                                                            }

                                                            .product-image-container-35096 span.product-image-wrapper {
                                                                padding-bottom: 125%
                                                            }
                                                        </style>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class=product-lg-top__right>
                                                <div class=product-lg-top__right--title>
                                                    <center> <strong class="product name product-item-name">
                                                            <a class=product-item-link href="/products/<%=product.id%>">
                                                                <%= product.name %>
                                                            </a>
                                                        </strong></center>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product details product-item-details">
                                            <div class=product-item-inner-large>
                                                <a href="/products/<%=product.id%>"> <button type=submit
                                                        class="action tocart primary">
                                                        <span>View Details</span>
                                                    </button>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </li>

                                <% }) %>
                        </ol>
                    </div>

                </div>
            </div>


        </div>
    </main>
    <div class=page-bottom>
        <div class=content>
            <div data-aw-csblock-block-name=csblock_category_page_bottom></div>
        </div>
    </div>
    <footer class=page-footer>
        <div class="footer content">
            <div class="footer links">
                <div class="menu menu--footer">
                    <ul>
                        <li class="level--1 children--3" data-home=true>
                            <a href="/index.html" target=_self>
                                <svg id=svg-home viewBox="0 0 24 24"
                                    style=" width: 15px; fill: white; transform: scale(1.6) translateY(2px); ">
                                    <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                                    <path d="M0 0h24v24H0z" fill=none></path>
                                </svg>
                            </a>
                        </li>
                        <li class="level--1 haschildren children--3">
                            <a href="/nuts-and-bolts/index.html" target=_self>Information Centre</a>
                            <ul>
                                <li class="level--2 0">
                                    <a href="/nuts-and-bolts/index.html" target=_self>The Nuts & Bolts</a>
                                    <div class=custom__block></div>
                                </li>
                                <li class="level--2 0">
                                    <a href="/nuts-and-bolts/product-data-information/identify-ceiling-grid-system.html"
                                        target=_self>Identify Ceiling Grid System</a>
                                    <div class=custom__block></div>
                                </li>
                                <li class="level--2 0">
                                    <a href="/nuts-and-bolts/resources.html" target=_self>Resources</a>
                                    <div class=custom__block></div>
                                </li>
                                <li class="level--2 0">
                                    <a href="/nuts-and-bolts/customer-services/faqs.html" target=_self>FAQ</a>
                                    <div class=custom__block></div>
                                </li>
                            </ul>
                            <div class=custom__block></div>
                        </li>
                        <li class="level--1 haschildren children--3">
                            <a href="/nuts-and-bolts/customer-services.html" target=_self>Customer Service</a>
                            <ul>
                                <li class="level--2 0">
                                    <a href="/nuts-and-bolts/customer-services/deliveries-and-collections.html"
                                        target=_self>Collections</a>
                                    <div class=custom__block></div>
                                </li>
                                <li class="level--2 0">
                                    <a href="/nuts-and-bolts/customer-services/returns-and-refunds.html"
                                        target=_self>Returns & Refunds</a>
                                    <div class=custom__block></div>
                                </li>
                                <li class="level--2 0">
                                    <a href="/nuts-and-bolts/customer-services/deliveries-and-collections.html"
                                        target=_self>Deliveries</a>
                                    <div class=custom__block></div>
                                </li>
                            </ul>
                            <div class=custom__block></div>
                        </li>
                        <li class="level--1 haschildren children--3">
                            <a href="/nuts-and-bolts/customer-services/contact-us.html" target=_self>Contact &
                                Policies</a>
                            <ul>
                                <li class="level--2 0">
                                    <a href="/nuts-and-bolts/customer-services/contact-us.html" target=_self>Contact
                                        Us</a>
                                    <div class=custom__block></div>
                                </li>
                                <li class="level--2 0">
                                    <a href="/nuts-and-bolts/customer-services/about-us.html" target=_self>About
                                        Us</a>
                                    <div class=custom__block></div>
                                </li>
                                <li class="level--2 0">
                                    <a href="/nuts-and-bolts/news-and-events/price-increases.html" target=_self>Price
                                        Increase Notifications</a>
                                    <div class=custom__block></div>
                                </li>
                            </ul>
                            <div class=custom__block></div>
                        </li>
                        <li class="level--1 haschildren children--3">
                            <a href="/nuts-and-bolts/customer-services/terms-and-conditions.html" target=_self>Terms
                                & Conditions</a>
                            <ul>
                                <li class="level--2 0">
                                    <a href="/nuts-and-bolts/customer-services/terms-and-conditions.html"
                                        target=_self>Terms & Conditions</a>
                                    <div class=custom__block></div>
                                </li>
                                <li class="level--2 0">
                                    <a href="/nuts-and-bolts/customer-services/privacy-policy.html" target=_self>Privacy
                                        Policy</a>
                                    <div class=custom__block></div>
                                </li>
                                <li class="level--2 0">
                                    <a href="/nuts-and-bolts/customer-services/cookie-policy.html" target=_self>Cookie
                                        Policy</a>
                                    <div class=custom__block></div>
                                </li>
                            </ul>
                            <div class=custom__block></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <style>
        @media only screen and (max-width:767px) {
            .form .search-autocomplete {
                top: 82px !important
            }

            .block-search .label {
                display: none
            }

            .amsearch-results .product {
                width: 100%
            }

            .block.block-minicart.ui-dialog-content.ui-widget-content {
                display: none !important
            }

            #search_mini_form .field.search .amsearch-wrapper-input #search {
                position: static
            }
        }

        .amazon-menu {
            display: none
        }

        @media (min-width:768px) {
            .customer-welcome:before {
                content: "My Account ";
                display: inline-block
            }

            .section__navigation .menu--main .level--1.children--3>ul {
                height: 400px !important
            }
        }
    </style>
    <style>
        .section__navigation .menu--main .level--1>.custom__block {
            display: none;
            position: absolute;
            z-index: 10000;
            right: 0;
            top: 38px;
            left: 55%;
            width: 44vw;
            overflow: hidden;
            box-sizing: border-box;
            padding-top: 20px;
            padding-bottom: 20px;
            height: 420px
        }

        @media (min-width:1024px) {
            .page-layout-1column .custom__block .block.widget .products-grid .product-item {
                width: calc((100% - 8%)/3)
            }
        }

        @media (min-width:768px) {
            .menu.menu--secondary {
                display: none
            }

            .menu:not(.menu--main) [data-home] {
                display: none !important
            }

            .level--2>ul {
                position: absolute;
                left: 33%;
                top: 21px;
                margin-top: 0 !important;
                display: none;
                height: 100%
            }

            .section__navigation .menu--main .level--1.children--3>ul {
                column-count: 1
            }

            .section__navigation .menu--main .level--1.children--3>ul>li.level--2 {
                width: 66%;
                display: block;
                border-bottom: none;
                padding-right: 0;
                margin-bottom: 0
            }

            .section__navigation .menu--main .level--1.children--3>ul>li.level--2>a {
                border: none;
                position: relative
            }

            .level--2:hover>ul {
                display: block;
                z-index: 10000000000
            }

            .section__navigation .menu--main .level--1.children--3>ul>li.level--2.haschildren>a:before {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7.5px 0 7.5px 7.5px;
                border-color: transparent transparent transparent #ccc;
                position: absolute;
                left: 44%;
                top: 2.5px
            }

            .section__navigation .menu--main .level--1.children--3>ul>li.level--2:hover>a:before {
                border-color: transparent transparent transparent #1b3990
            }

            .section__navigation .menu--main .level--1.children--3>ul:after {
                content: "";
                position: absolute;
                top: 21px;
                left: 31.5%;
                border-left: 1px solid #ccc;
                height: calc(100% - 42px)
            }

            .section__navigation .menu--main .level--3 a:hover {
                color: #1b3990
            }

            .section__navigation .menu--main .level--1 {
                text-align: left
            }

            .section__navigation .menu--main .level--2>a {
                padding-bottom: 10px
            }

            .section__navigation .menu--main .level--1.children--3>ul {
                height: 384px;
                max-width: 1280px
            }

            .section__navigation .menu--main .level--1.haschildren:hover>.custom__block:not(:empty) {
                display: block
            }

            .custom__block .block-title strong {
                font-weight: 700 !important;
                color: #1b3990
            }

            .custom__block .products-grid .product-item-info:hover,
            .custom__block .products-grid .product-item-info.active {
                box-shadow: none !important;
                border: none;
                margin: 0;
                padding: 0
            }

            .custom__block .products-grid .product-item-info:hover .product-item-inner,
            .custom__block .products-grid .product-item-info.active .product-item-inner {
                display: none
            }

            .section__navigation .menu--main .level--2>ul {
                height: 375px;
                overflow: auto;
                padding-right: 20px
            }

            .custom__block span.product-image-wrapper {
                padding-bottom: 100% !important
            }
        }

        @media (max-width:1089px) and (min-width:768px) {
            .section__navigation .menu--main .level--1 {
                font-size: 1.32rem;
                margin-right: 8px;
                letter-spacing: -.6px
            }
        }

        @media (max-width:1024px) {
            .custom__block .products-grid .product-item:nth-child(2)~* {
                display: none
            }

            .custom__block .products-grid .product-item {
                width: calc((100% - 6%)/3) !important
            }
        }

        @media (max-width:768px) {
            .section__navigation .menu--main ul li.current>a {
                padding: 10px 20px;
                text-align: left
            }

            .menu--main li.level--1 a {
                background: #1b3990;
                color: #fff;
                font-weight: 700
            }

            .menu--main li.level--2 a {
                background: #fff;
                color: #1b3990;
                font-weight: 700
            }

            .menu--main li.level--3 a {
                background: #fff;
                color: #1b3990;
                font-weight: 400
            }

            .section__navigation .menu--main>ul>li {
                display: block
            }

            .section__navigation .menu--main ul li.previous ul li {
                display: block
            }

            .section__navigation .menu--main ul li.previous>a {
                display: block
            }

            .section__navigation .menu--main ul li.current>a:before {
                display: none
            }

            .section__navigation .haschildren>a:after {
                display: block !important
            }

            .section__navigation .haschildren>a:after {
                content: '▾'
            }

            .section__navigation .haschildren.previous>a:after,
            .section__navigation .haschildren.current>a:after {
                content: '▴'
            }

            .header.panel>.header.links {
                display: none !important
            }

            .section__navigation {
                height: calc(100% - 74px) !important
            }

            .menu.menu--secondary a {
                font-weight: 700;
                background: #eee
            }

            .menu [data-home] {
                display: none !important
            }

            .menu--main li.level--1.haschildren:hover a {
                margin-bottom: 0 !important
            }

            .section__navigation .menu--main ul li.previous>a {
                border-bottom: 1px solid #c6c6c6
            }
        }

        .section__navigation .menu--main .level--1>.custom__block {
            max-width: 550px
        }
    </style>
    <style>
        @media (min-width:768px) {
            .section__navigation .menu span.nolink {
                color: #575757
            }

            .section__navigation .menu span.nolink {
                color: #575757
            }

            .section__navigation .menu--main .level--2>span.nolink {
                font-weight: 700;
                display: block
            }

            .section__navigation .menu--main .level--2>span.nolink {
                font-weight: 700;
                display: block
            }

            .section__navigation .menu--main .level--2>span.nolink {
                padding-bottom: 10px
            }

            .section__navigation .menu--main .level--2.haschildren>span.nolink {
                padding-bottom: 10px
            }

            .section__navigation .menu--main .level--1 .level--2>span.nolink {
                color: #1b3990
            }

            .section__navigation .menu--main .level--2.haschildren>span.nolink {
                padding-bottom: 10px
            }

            .section__navigation .menu--main .level--1 .level--2>span.nolink {
                color: #1b3990
            }

            .menu--main li.level--1.haschildren:hover span.nolink {
                margin-bottom: 2px !important
            }

            .section__navigation .menu--main .level--1.children--3>ul>li.level--2.haschildren>span.nolink:before {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7.5px 0 7.5px 7.5px;
                border-color: transparent transparent transparent #ccc;
                position: absolute;
                left: 44%;
                top: 2.5px
            }

            .section__navigation .menu--main .level--1.children--3>ul>li.level--2:hover>span.nolink:before {
                border-color: transparent transparent transparent #1b3990
            }

            span.nolink {
                position: relative
            }
        }
    </style>
    <style>
        @media (max-width:768px) {
            span.nolink {
                display: block
            }

            .menu--main li.level--1.haschildren:hover span.nolink {
                margin-bottom: 0 !important
            }

            .menu--main li.level--1 span.nolink {
                background: #1b3990;
                color: #fff;
                font-weight: 700
            }

            .menu--main li.level--2 span.nolink {
                background: #fff;
                color: #1b3990;
                font-weight: 700
            }

            .section__navigation .haschildren>span.nolink:after {
                font-size: 16px;
                position: absolute;
                top: 8px;
                right: 20px;
                content: '▾'
            }

            .section__navigation .haschildren.previous>a:after,
            .section__navigation .haschildren.current>span.nolink:after {
                content: '▴'
            }

            .section__navigation span.nolink {
                position: relative;
                display: block;
                padding: 10px 20px
            }

            .section__navigation .menu--main ul li.current>span.nolink {
                border-bottom: 1px solid #c6c6c6
            }
        }

        @media (min-width:768px) {
            .section__navigation .menu--main .level--1.children--3:nth-child(6)>ul {
                column-count: inherit !important
            }
        }

        @media (max-width:1399px) {
            .section__navigation .menu--main .level--1>.custom__block {
                max-width: 39.2%
            }
        }

        .lmrx-carousel.lmrx-carousel--full-window-width.lmrx-carousel--with-content .lmrx-carousel__controls__control--prev {
            right: calc(100% + -30px) !important
        }

        .lmrx-carousel.lmrx-carousel--full-window-width.lmrx-carousel--with-content .lmrx-carousel__controls__control--next {
            left: calc(100% + -30px) !important
        }
    </style>

    </div>

    <script>var BASE_URL = 'https://www.buildingmaterials.co.uk/https\u003A\u002F\u002Fwww.buildingmaterials.co.uk\u002F'; var require = { 'baseUrl': 'https\u003A\u002F\u002Fwww.buildingmaterials.co.uk\u002Fstatic\u002Fversion1643217956\u002Ffrontend\u002FRixxo\u002Fbm\u002Fen_GB' } 
    </script>
    <script
        src="https://www.buildingmaterials.co.uk/static/version1643217956/_cache/merged/b3b1f450816d4832cd1a91add92117ae.min.js"></script>

    </body>


    </html>